<div class="footer1">
    <img class="footer_logo" src="img/logo.png" alt="Logo" />
    <img class="footer_logo2" src="img/logo_small.png" alt="logo">

    <div class="social">
       
        <a href="#"><img class="social_icon" src="img/icons8-facebook-logo.svg" alt="Icon Facebook"></a>
        <a href="#"><img class="social_icon" src="img/icons8-instagram-logo.svg" alt="Icon Instagram"></a>
        <a href="#"><img class="social_icon" src="img/icons8-twitter.svg" alt="Icon Twitter"></a>
    </div>
</div>
<div class="footer2">
    <p>&copy; 2021 Kochwelt</p>
    <div class="footer_links">
        <a href="imprint.html#datenschutz">Datenschutz</a><span class="footer_item_hide">|</span><a class="last_item_anna" href="imprint.html">Impressum</a>
    </div> 
</div>