<div class="header_content">
  <img class="header_logo" src="img/logo.png" alt="logo" />
  <img class="header_logo2" src="img/logo_small.png" alt="logo" />
  <div class="nav_link_container" id="navbar">
    <a href="index.html" class="nav_link">Start</a>
    <a href="recipe_mario.html" class="nav_link">Rezept des Tages</a>
    <a href="contact.html" class="nav_link">Kontakt</a>
    <a href="imprint.html" class="nav_link">Impressum</a>
  </div>

  <img
    onclick="openNav()"
    class="open_nav"
    id="open_nav"
    src="img/bars-solid.svg"
    alt="open nav-bar"
  />
  <img
    onclick="closeNav()"
    class="close_nav"
    id="close_nav"
    src="img/times-solid.svg"
    alt="open nav-bar"
  />

  <div id="nav_layer" class="nav_layer_transp"></div>
</div>
